@layer default {
  body {
    font: var(--gcds-font-text);
    color: var(--gcds-text-primary);
  }

  @media only screen and (width < 48em) {
    body {
      font: var(--gcds-font-text-mobile);
    }
  }

  button {
    border: 0;
    cursor: pointer;
  }

  code {
    font-family: var(--gcds-font-families-monospace);
  }

  fieldset {
    border: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1 {
    max-width: var(--gcds-heading-character-limit-h1);
    font: var(--gcds-heading-h1-desktop);
  }

  h1:after {
    display: block;
    content: "";
    width: var(--gcds-heading-h1-border-width);
    -webkit-margin-before: var(--gcds-heading-h1-border-margin);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background);
  }

  @media only screen and (width < 48em) {
    h1 {
      font: var(--gcds-heading-h1-mobile);
    }
  }

  h2 {
    max-width: var(--gcds-heading-character-limit-h2);
    font: var(--gcds-heading-h2-desktop);
  }

  @media only screen and (width < 48em) {
    h2 {
      font: var(--gcds-heading-h2-mobile);
    }
  }

  h3 {
    max-width: var(--gcds-heading-character-limit-h3);
    font: var(--gcds-heading-h3-desktop);
  }

  @media only screen and (width < 48em) {
    h3 {
      font: var(--gcds-heading-h3-mobile);
    }
  }

  h4 {
    max-width: var(--gcds-heading-character-limit-h4);
    font: var(--gcds-heading-h4-desktop);
  }

  @media only screen and (width < 48em) {
    h4 {
      font: var(--gcds-heading-h4-mobile);
    }
  }

  h5 {
    max-width: var(--gcds-heading-character-limit-h5);
    font: var(--gcds-heading-h5-desktop);
  }

  @media only screen and (width < 48em) {
    h5 {
      font: var(--gcds-heading-h5-mobile);
    }
  }

  h6 {
    max-width: var(--gcds-heading-character-limit-h6);
    font: var(--gcds-heading-h6-desktop);
  }

  @media only screen and (width < 48em) {
    h6 {
      font: var(--gcds-heading-h6-mobile);
    }
  }

  hr {
    border: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-300);
  }

  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body,
  html {
    overflow-x: hidden;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  ol,
  ul {
    list-style: none;
  }

  p {
    max-width: var(--gcds-text-character-limit);
    font: var(--gcds-font-text);
  }

  @media only screen and (width < 48em) {
    p {
      font: var(--gcds-font-text-mobile);
    }
  }

  small {
    font: var(--gcds-font-text-small);
  }

  @media only screen and (width < 48em) {
    small {
      font: var(--gcds-font-text-small-mobile);
    }
  }

  strong {
    font-weight: var(--gcds-font-weights-bold);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .container-centered {
    width: 100%;
    max-width: var(--gcds-container-xl);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gcds-spacing-225);
    padding-right: var(--gcds-spacing-225);
  }

  @media (min-width: 40em) {
    .container-centered {
      padding-left: var(--gcds-spacing-600);
      padding-right: var(--gcds-spacing-600);
    }
  }

  @media (min-width: 80em) {
    .container-centered {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* End custom */
}
