@layer default {
  .gcds-signature {
    display: flex;
  }

  .gcds-signature svg {
    max-width: 100%;
  }

  .gcds-signature svg .fip_flag {
    fill: var(--gcds-signature-color-flag);
  }
}

@layer type-signature {
  .gcds-signature:not([type="wordmark"]) svg {
    height: var(--gcds-signature-signature-height);
  }
}

@layer type-wordmark {
  .gcds-signature[type="wordmark"] svg {
    height: var(--gcds-signature-wordmark-height);
    width: auto;
  }
}

@layer variant-colour {
  .gcds-signature:not([variant="white"]) svg .fip_text {
    fill: var(--gcds-signature-color-text);
  }
}

@layer variant-white {
  .gcds-signature[variant="white"] svg .fip_text {
    fill: var(--gcds-signature-white-default);
  }
}

/* Note: viewport specific style decision */
@layer desktop {
  @media screen and (min-width: 64em) {
    .gcds-signature:not([type="wordmark"]) svg {
      height: 2.125rem;
    }
  }
}
